<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="sidebar">
        {% block sidebar %}
              <a class="{% if request.resolver_match.url_name == "mySubs" %}active{% endif %}" href="{% url 'mySubs' %}">My Subs</a>
              <a class="{% if request.resolver_match.url_name == "reportAbsence" %}active{% endif %}" href="{% url 'reportAbsence' %}">Report Absence</a>
            {% if perms.timetable.add_classneedssub %}
                <a class="{% if request.resolver_match.url_name == "sub" %}active{% endif %}" href="{% url 'sub' %}">Set Substitution</a>
            {% endif %}
            <form id='logout' action="{% url 'logout' %}" method="post">
                {% csrf_token %}
              <a id="logout" onclick="this.parentNode.submit()">Logout</a>
            </form>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>