{% extends 'publicBase.html' %}
{% load i18n %}
{% block title %}{% trans "Today's Subs" %}{% endblock %}
{% block content %}
<div class="sub-container">
{% if Subs %}

        {% for sub in Subs %}
    {% if sub.substitute_teacher == none %}
            <div class="sub-details problem">
                    {% else %}
            <div class="sub-details">
                    {% endif %}
                    <h1>{{ sub.Class_That_Needs_Sub.name }} - {{ sub.Class_That_Needs_Sub.room }}</h1>
                    {% if sub.substitute_teacher == none %}
                    <h2 style="color: darkred">{% trans "No Sub Yet" %}</h2>
                    {% else %}
                    <h2 style="color:dimgray">{% trans "Substitute Teacher:" %}{{ sub.substitute_teacher.name }}</h2>
                    {% endif %}
                    <h3 style="color:darkolivegreen">{{ sub.Class_That_Needs_Sub.hour }}</h3>
                </div>
        {% endfor %}
    {% else %}
        <h1
                style="font-family: helvetica, arial, sans-serif;
                font-size: xxx-large;
                text-align: center;
                margin:auto;
        ">
            {%  trans "No Subs For today!" %}</h1>
    {% endif %}
    </div>
{% endblock %}