{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if mySubs %}
        {% for sub in mySubs %}
            <div class="sub-row">
            <h1>{{ sub.date }}</h1>
                <div class="sub-details">
                    <h1>{{ sub.Class_That_Needs_Sub.name }} - {{ sub.Class_That_Needs_Sub.room }}</h1>
                    <h2 style="color:dimgray">{{ sub.Class_That_Needs_Sub.hour }}</h2>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1
                style="font-family: helvetica, arial, sans-serif;
                font-size: xxx-large;
                text-align: center;
        ">
            {% trans "No Subs" %}</h1>
    {% endif %}
{% endblock %}