<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Substitution</title>

</head>
<body>
<div>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field }}
    {% endfor %}
    <input type="submit">
</form>
</div>
  <script>
        const districtSelect = document.getElementById('sub');
        const branchSelect = document.getElementById('teacher');

        districtSelect.addEventListener('change', (event) => {
        const selectedDistrict = event.target.value;
        const url = `/get/${selectedDistrict}`;
        console.log(selectedDistrict)
        fetch(url)
        .then(response => response.json())
        .then(data => {
        branchSelect.innerHTML = '';
        console.log(data)
        data.availableTeachers.forEach((branch) => {
        const option = document.createElement('option');
        option.value = branch.id;
        option.text = branch.name;
        branchSelect.appendChild(option);
        });
        });
        });
    </script>
</body>
</html>