{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{%  static 'timetable/styles/student_manager.css' %}">
    <link rel="stylesheet" href="{% static "timetable/styles/bootstrap.min.css" %}">

{% endblock %}
{% block title %}{% trans "Manage Students" %}{% endblock %}
{% block content %}
    <h1>{% trans "Manage Students" %}</h1>
    <p id="stats">{% trans "Students With Schedules" %}: <span id="scheduleCount">{{ scheduleCount }}</span>; {% trans "Students Without" %}: <span id="noScheduleCount">{{ studentWithNoSchedule }}</span>; {% trans "Total Students" %}: <span id="totalStudents">{{ scheduleCount|add:studentWithNoSchedule }}</span>.</p>

{# alert box #}
    <div style="display: none" id="alert-box"><div id="alert" class="alert alert-success" role="alert">
  {% trans "invited "%}
  <button onclick="this.parentElement.style.display='none'" type="button" aria-label="Close"></button>
</div></div>


    <div class="student-list">

{# show invite all and reset all buttons if user is super user   #}
    {% if user.is_superuser %}
    <div style="margin-bottom: 5px" class="button-div">
        <form style="display: inline">
        <label>
            {% trans "Student Creation Form" %}:
            <input name="userCreation" type="checkbox" hx-post="{% url "student_manager" %}" {% if creationEnabled %} checked {% endif %}>
        </label>
        </form>
        <button type="button" id="invite-all" name="invite-all" value="invite-all" hx-confirm="{% trans "Warning, this will send an email to every student with no Schedule" %}" hx-post="{% url "send_email" %}" class="btn btn-warning">{% trans "Invite all" %}</button>
        <button type="button" id="reset-all" name="reset-all" value="reset-all" hx-confirm="{% trans "WARNING!!! THIS WILL RESET *ALL* SCHEDULES (!!!) FOREVER, THIS ACTION IS IRREVERSIBLE ARE YOU SURE YOU WANT TO CONTINUE???" %}" hx-post="{% url "send_email"%}" class="btn btn-danger">{% trans "Reset ALL" %}</button>

    </div>
    {% endif %}
    {% csrf_token %}

        {# filter students    #}
      <input onkeyup="filterList()" type="text" id="text-filter" placeholder="{% trans "Search Student" %}">

    <ul class="student-list">
{% for student,values in students.items %}
    <li>
    {# if student has a schedule   #}
    {% if values.1 %}
    <div  class="student">
    <div   style="display:flex;flex-direction: row">
        <p class="student-name"> {{ student }}</p>
        <div class="button-div">
        <p style="display: inline" hx-get="{% url 'student_details' values.0 %}" hx-target="next .details" id="arrow" ><i class="arrow down"></i></p>
            <a class="btn btn-secondary" href="{% url "student_details" values.0%}">{% trans "Open in new page" %}</a>
    <button  name="{{ values.0 }}" value="True"  hx-post="{% url "send_email" %}" id="{{ values.0 }}" class="btn btn-danger"  >{% trans "Reset Schedule" %}</button>
        <button class="btn btn-dark" onclick="navigator.clipboard.writeText(('{{ request.get_host }}' + '{% url "register_student" %}' + '?uuid=' + '{{ values.0 }}'));window.alert('{% trans "Copied Link To Clipboard" %}' + '...')">{% trans "Update Details" %}</button>

        </div>
        </div>
        <div class="details"></div>
    </div>
    {# if student dosent have a schedule #}
    {% else %}
    <div  class="student">
    <div style="display:flex;flex-direction: row">
        <p class="student-name"> {{ student }} - {% trans "Last Invite" %} : </p><p class="last-invite" id="last-invite">{{ values.2 }}</p>
        <div class="button-div">

        <button name="{{ values.0 }}" hx-target="previous #last-invite" value="False" hx-post="{% url "send_email" %}" name="False" id="{{ values.0 }}" class="btn btn-info">{% trans "Send Invite" %}</button>
        <a  href="{% url "schedule" values.0 %}"  role="Button" class="btn btn-primary">{% trans "Set Schedule" %}</a>
        <button class="btn btn-dark" onclick="navigator.clipboard.writeText(('{{ request.get_host }}' + '{% url "register_student" %}' + '?uuid=' + '{{ values.0 }}'));window.alert('{% trans "Copied Link To Clipboard" %}' + '...')">{% trans "Update Details" %}</button>
        </div>
        </div>
        <div class="details"></div>
    </div>
    {% endif %}
</li>
    {% endfor %}
    </ul>
</div>

    <script>
        const alert = document.getElementById("alert-box")
        document.body.addEventListener("alert",function(evt){
            console.log("test")
            alert.style.display = "block"
    })
    </script>
    <script>
    document.body.addEventListener("unfold",function(evt){
        let details = evt.target.parentElement.parentElement.parentElement.querySelector(".details");
        let arrow = evt.target.parentElement.querySelector("#arrow .arrow")

        if(details.style.maxHeight==="500px"){
            arrow.classList.remove("up")
            arrow.classList.add("down")
            details.style.maxHeight = "0"
        } else{
            arrow.classList.remove("down")
            arrow.classList.add("up")
            details.style.maxHeight="500px"
        }
    })

</script>
    <script>
function filterList() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('text-filter');
    filter = input.value.toUpperCase();
    ul = document.getElementsByClassName("student-list")[0];
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByClassName("student")[0];
      txtValue = a.textContent || a.innerText;

      // split filter by spaces, gives ["app", "MN"] in your example
      let filters = filter.split(" ")

      // remove the empty filters (if your filter string
      // starts or ends by a space) since they are source of errors

      // Array.filter takes in parameter a function returning a boolean
      // it create a new array containing only element where
      // the function returned truthy value

      // here we return the length of the string which is falsy (== 0) for ""
      // and truthy for every other string (!= 0)
      filters = filters.filter(f => f.length)

      let shouldDisplay = true
      // test each filter and store true only if string contains all filter
      filters.forEach(filt => {
        shouldDisplay = shouldDisplay && txtValue.toUpperCase().includes(filt)
      })

      // update visibility
      // set visible if the string include all filters
      // or if there is no filter
      li[i].style.display = (shouldDisplay || filters.length === 0) ? "" : "none";
    }
  }
    </script>
{% endblock %}
