{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block static %}
    <link type="text/css" rel="stylesheet" href="{% static "timetable/styles/bootstrap.min.css" %}">
    <style>
.teacher-list{
    padding:0;
    margin: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
}
.teacher{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:flex;
    font-size: x-large;
    background-color: rgba(247, 247, 247, 1);
    border-top: 1px solid lightgray;
    padding:2px;
    flex-direction: column;
}
.teacher-name{
    display:inline;
    margin: 0;
    padding:5px
}



h1:dir(rtl), p:dir(rtl){
    text-align: right;
}
.button-div:dir(rtl){
    margin: 5px;
    margin-right:auto;

}

.button-div:dir(ltr){
    margin: 5px;

    margin-left:auto;
}
.no-password{
    background-color: rgba(205, 92, 92, 0.24);
}
    </style>
{% endblock %}
{% block title %}{% trans "Manage Teachers" %}{% endblock %}
{% block content %}
<h1>{% trans "Manage Teachers" %}</h1>
<button class="btn btn-success" hx-target="#response #link" hx-on::after-request="document.getElementById('response').style.display = 'block'" hx-swap="innerHTML" name="test" value="r" hx-prompt="{% trans "Teacher's Email" %}" hx-post="{% url "create_teacher" %}">{% trans "Add Teacher / Generate Teacher Form" %}</button>
    <div style="display: none" id="response" class="alert alert-primary" onclick="copyToClipboard(this)">{% trans "Click To Copy: " %}<span id="link"></span></div>

    <div class="teacher-list">
{# show invite all and reset all buttons if user is super user   #}

    {% csrf_token %}

        {# filter teacher    #}
      <input onkeyup="filterList()" type="text" id="text-filter" placeholder="{% trans "Search Teachers" %}...">

    <ul class="teacher-list">
{% for teacher,form in teachers.items %}
    <li>
    <div  class="teacher {% if teacher.password == '' %}no-password{% endif %}">

    <div   style="display:flex;flex-direction: row">

        <p class="teacher-name"> {{ teacher }}</p>
        <form hx-trigger="change" hx-swap="none" hx-target=".form-fields" hx-post="{% url "teacher_manager" %}" class="button-div">
            <div class="form-fields" style="font-size: smaller">{{ form }}
</div>

        </form>
        {% if user.uuid != teacher.uuid %}
            <button class="btn btn-primary mr-1"  hx-post="{% url "invite_teacher" %}" name="teacher" value="{{ teacher.uuid }}">{% trans "Invite Teacher" %}</button>
            <button hx-target="closest .teacher" hx-swap="delete" hx-post="{% url "teacher_manager"%}" name="Delete" value="{{ teacher.uuid }}" class="mr-1 btn btn-danger">{% trans "Delete" %}</button>
        {% endif %}
        </div>
    </div>
</li>
    {% endfor %}
    </ul>
</div>

    <script>
function filterList() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('text-filter');
    filter = input.value.toUpperCase();
    ul = document.getElementsByClassName("teacher-list")[0];
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByClassName("teacher")[0];
      txtValue = a.textContent || a.innerText;

      // split filter by spaces, gives ["app", "MN"] in your example
      let filters = filter.split(" ")

      // remove the empty filters (if your filter string
      // starts or ends by a space) since they are source of errors

      // Array.filter takes in parameter a function returning a boolean
      // it create a new array containing only element where
      // the function returned truthy value

      // here we return the length of the string which is falsy (== 0) for ""
      // and truthy for every other string (!= 0)
      filters = filters.filter(f => f.length)

      let shouldDisplay = true
      // test each filter and store true only if string contains all filter
      filters.forEach(filt => {
        shouldDisplay = shouldDisplay && txtValue.toUpperCase().includes(filt)
      })

      // update visibility
      // set visible if the string include all filters
      // or if there is no filter
      li[i].style.display = (shouldDisplay || filters.length === 0) ? "" : "none";
    }
  }
    </script>
    <script>

  function copyToClipboard(a) {
      a.style.display = "block"
      const textToCopy = a.querySelector("#link").innerText; // or .textContent if you want to copy raw text
      navigator.clipboard.writeText(textToCopy).then(function() {
      alert('Copied to clipboard!');
      a.style.display = "none"
      }, function(err) {
          console.error('Could not copy text: ', err);
      });
      }
</script>
{% endblock %}
