{% load i18n %}

<tr class="table-success pin-row">
            <td>{{ pin.Teacher }}</td>
            <td>{{ pin.PIN }}</td>
            <td>{{ pin.date }}</td>
            <td>{{ pin.taking_time }}  - {{ pin.returning_time }}</td>
            <td>{{ pin.uses }}</td>
            <td>{{ pin.room }}</td>
            <td>{{ pin.numberOfLaptops }}</td>
            <td>{{ pin.reason }}</td>
    <td>
        <form>
            {% csrf_token %}
            <button name="deny" hx-confirm='{%  trans "Are You Sure You Want To Delete This PIN?" %}' hx-target="closest .pin-row" hx-swap="delete" value="{{ pin.id }}" hx-post="{% url 'pin_manager' %}" class="btn btn-danger">
            {% trans "Delete" %}</button>
        </form>
    </td>
</tr>