{% extends 'laptops_base.html' %}
{% load static %}
{% load i18n %}
{% block static%}
    <link rel="stylesheet" href="{% static "laptopLoaning/styles/bootstrap.min.css" %}">
{% endblock %}
{% block title %}Pin Manager{% endblock %}
{% block content %}
    <table class="table table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th>{% trans "Teacher" %}</th>
            <th>{% trans "PIN" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Uses" %}</th>
            <th>{% trans "Room" %}</th>
            <th>{% trans "Laptops" %}</th>
            <th>{% trans "For" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for pin in pins %}
        <tr {% if pin.granted %}class="table-success pin-row"{% else %}class="table-danger pin-row"{% endif %}>
            <td>{{ pin.Teacher }}</td>
            <td>{{ pin.PIN }}</td>
            <td>{{ pin.date }}</td>
            <td>{{ pin.taking_time }}  - {{ pin.returning_time }}</td>
            <td>{{ pin.uses }}</td>
            <td>{{ pin.room }}</td>
            <td>{{ pin.numberOfLaptops }}</td>
            <td>{{ pin.reason }}</td>
            <td>
                {% if not pin.granted %}
                <form class="form form-inline">
                    {% csrf_token %}
                    <button name="deny" hx-target="closest .pin-row" hx-swap="delete" value="{{ pin.id }}" hx-post="{% url 'pin_manager' %}" class="btn btn-danger">{% trans 'Deny' %}</button>
                    <button name="grant" hx-target="closest .pin-row" hx-swap="outerHTML" value="{{ pin.id }}" hx-post="{% url 'pin_manager' %}" class="btn btn-success">{%trans 'Grant' %}</button>
                </form>
                {% else %}
                    <form>
                        {% csrf_token %}
                        <button name="deny" hx-confirm='{%  trans "Are You Sure You Want To Delete This PIN?" %}' hx-target="closest .pin-row" hx-swap="delete" value="{{ pin.id }}" hx-post="{% url 'pin_manager' %}" class="btn btn-danger">
                            {% trans "Delete" %}</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}