{% extends 'laptops_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Order Laptops" %}{% endblock %}
{% block content %}
<div id="myModal" class="modal">
<div class="modal-content">
    <span onclick="this.parentElement.parentElement.style.display = 'none'" class="close">&times;</span>

    <form action="{% url "laptop_home" %}" method="post">
        {% csrf_token %}
        {{ form.Teacher }}
        {{ form.reason }}
        {{ form.room }}
        <p style="margin: 0">{% trans "Number of Laptops:" %} <span id="numberOfLaptops_value"></span></p>
        {{ form.numberOfLaptops }}
        {{ form.date }}
        <div class="form-two-fields">{{ form.taking_time }}{{ form.returning_time }}</div>
        <button type="submit">{% trans "Order" %}</button>
</form>
</div>
</div>
<div class="container">
<div class="menu"></div>
<div class="mother-container">
    <h1>{% trans "My pins" %}</h1>

    <ul>
        <h4 style="text-align: center">
            {% trans "PINs granted" %}
        </h4>
        {% for pin in grantedPins %}
        <li>
            <div class="pin">
                <div>
                <h2>{{ pin.PIN }}</h2>
                <h3 class="hour">{{ pin.date }}. {{ pin.taking_time }} - {{ pin.returning_time }}</h3>
                <h3 class="hour">{% trans "Remaining Uses: " %}{{ pin.uses }}</h3>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
    <ul style="border-top: lightgray 2px dotted ">
        <h4 style="text-align: center">{% trans "PINs Pending" %}</h4>
        {% for pin in nonGrantedPins %}
        <li>
            <div class="pin">
                <div>
                <h2>{{ pin.PIN }}</h2>
                <h3 class="hour">{{ pin.date }}</h3>
                <h3 class="hour">{{ pin.uses }}</h3>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
<li id="add-button-container">
            <button onclick="document.getElementById('myModal').style.display = 'block'" id="add-button">
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#651c43" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>            </button>
            </li>
</div>
</div>
    <script>
        const returning_time = document.getElementById("returning_time")
        function setMin(a){
            console.log("test")
            returning_time.min = a.value
        }
        var slider = document.getElementById("id_numberOfLaptops");
        var output = document.getElementById("numberOfLaptops_value");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>
{% endblock %}