{% load i18n %}
<!DOCTYPE html>
<html lang="{% trans "en" %}" dir="{% trans "ltr" %}">
<head>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 {% load static %}
      <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/login_and_register.css' %}">
    <meta charset="UTF-8">
    <title>{% trans "Sign-in" %}</title>
</head>
<body>

<div id="login-container">
    <div class="login-container">
  <form id="login-form" method="post" action="{% url 'login' %}">
              <h1>{% trans "Sign-in" %}</h1>

    {% csrf_token %}
    
      {% for field in form %}
      {{ field }}
      {% endfor %}
  
    <input type="submit" value="{% trans "login"%}">
    <input type="hidden" name="next" value="{{ next }}">
  <a id="forgot-password" href="{% url 'password_reset' %}">{% trans "Forgot password?"%}</a>

  </form>
</div>
<div id="img-div">
    <img style="width: 100%;height: 100%" src="{% static "img/login-image.png"%}">

</div>
</div>


  {% if form.errors %}
      <div class="alert">
    <p>Your username and password didn't match. Please try again.</p>
      </div>
  {% endif %}

  {% if next %}
      <div class="alert">
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
      </div>
  {% endif %}


</body>
</html>