body *{
    font-family: Inter, helvetica, sans-serif;
}
.details{
    width:100%;
    max-height:0;
    overflow:hidden;
    transition:max-height 1s ease-in-out;
    height: 1000px;
    background-color: white;
}
.student-list{
    padding:0;
    margin: 0;
    list-style: none;
}
.student{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:flex;
    font-size: x-large;
    background-color: rgba(247, 247, 247, 1);
    border-top: 1px solid lightgray;
    padding:2px;
    flex-direction: column;
}
.student-name,#last-invite{
    display:inline;
    margin: 0;
    padding:5px
}
.arrow {
  border: solid rgba(0, 0, 0, 0.68);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#arrow:dir(rtl){
    margin: 0 auto 0 5px;
}
#arrow:dir(ltr){
    margin: 0 5px 0 auto;
}

.student-list{
    display:flex;
    flex-direction: column;
}
.student{
    display:flex;
    font-size: x-large;
    background-color: rgba(247, 247, 247, 1);
    border-top: 1px solid lightgray;
    padding:2px;
}
h1:dir(rtl), p:dir(rtl){
    text-align: right;
}
button:dir(rtl),.button-div:dir(rtl){
    margin-right:auto;

}

button:dir(ltr),.button-div:dir(ltr){

    margin-left:auto;
}
#stats{
    font-size:x-large;
}
#scheduleCount{
    color:#0069d9
}
#noScheduleCount{
    color:#c82333
}
#totalStudents{
    color:goldenrod;
}
@media screen and (max-width: 800px) {
 #arrow{
     display: none !important;
 }
    .btn{
        padding: 3px !important;
    }
}
