html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.form-container{
    background-color: #fefefe;

}
#login-form h1{
    color: #1b1b1b;
    font-family: Inter, helvetica, sans-serif;
    font-weight: lighter;
}
#login-form{
    justify-content: space-evenly;
    padding: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 0, 0,0.06);
    margin: 100px auto auto;
    width:40%;
    height:40%;
    border-radius: 15px;
    background-color: #fefefe;
}
#login-form input[type=text],#login-form input[type=password] {
    border:none;
    width: 70%;
    height: 7%;
    padding: 2% 3%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.05);
}
#login-form input[type=submit]{
    background-color:#55AD9B;
    color: white;
    border:none;
    width: 75%;
    padding: 2% 3%;
    border-radius: 25px;
    font-size: medium;
    font-family: Inter, helvetica, sans-serif;
}
#login-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

#forgot-password{
    margin:0;
    font-family: Inter, helvetica, sans-serif;
    text-decoration: none;
    font-weight: lighter;
    font-size: small;
    color: #535353;
}

