.student-list{
    display:flex;
    flex-direction: column;
}
.student{
    display:flex;
    font-size: x-large;
    background-color: #fefefe;
    border-top: 1px solid lightgray;
}

button:dir(rtl),.button-div:dir(rtl){
    margin-right:auto;

}

button:dir(ltr),.button-div:dir(ltr){

    margin-left:auto;
}

