{% load i18n %}
<!DOCTYPE html>
<html lang={% trans "en" %} dir="{% trans "ltr" %}">
<head>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    {% block static %}{% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


    <div class="sidebar">
        {% block sidebar %}
              <a class="{% if request.resolver_match.url_name == "mySubs" %}active{% endif %}" href="{% url 'mySubs' %}">{% trans "My Subs" %}</a>
              <a class="{% if request.resolver_match.url_name == "reportAbsence" %}active{% endif %}" href="{% url 'reportAbsence' %}">{%  trans "Report Absence" %}</a>
            {% if perms.timetable.see_subs %}
                <a class="{% if request.resolver_match.url_name == "sub" %}active{% endif %}" href="{% url 'sub' %}">{%  trans "Set Substitution" %}</a>
            {% endif %}
              <a class="{% if request.resolver_match.url_name == "student_manager" %}active{% endif %}" href="{% url 'student_manager' %}">{%  trans "Manage Students" %}</a>
            
            {% if perms.timetable.see_classes %}
                <a id="setClasses" class="{% if request.resolver_match.url_name == "setClasses" %}active{% endif %}" href="{% url 'setClasses' %}">{%  trans "Set Classes" %}</a>
            {% endif %}
<div style="margin-top: auto">
            {% get_current_language_bidi as LANGUAGE_BIDI %}
            {% get_current_language as LANGUAGE_CODE %}
            <form  action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{% url request.resolver_match.url_name %}">
                <select style="width: 100%" name="language" onchange="this.form.submit()">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}" {%if language.code == LANGUAGE_CODE%}selected{%endif%}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>


            <form id='logout' action="{% url 'logout' %}" method="post">
                {% csrf_token %}
              <a id="logout" onclick="this.parentNode.submit()">{%  trans "Logout" %}</a>
            </form>
        {% endblock %}
        </div></div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script>
 if (!navigator.serviceWorker.controller) {
     navigator.serviceWorker.register("{% static 'serviceworker.js' %}").then(function(reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
     });
 }
</script>
</html>