{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block static %}
    <link type="text/css" rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}">

{% endblock %}

{% block title %}{% trans "Manage Classes" %}{% endblock %}
{% block content %}
    <style>
    .details{
    width:100%;
    max-height:0;
    overflow:hidden;
    transition:max-height 1s ease-in-out;
    height: 500px;
    background-color: white;
}
    ul{
        columns: 6 auto;
    }
    .arrow {
  border: solid rgba(0, 0, 0, 0.68);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#arrow:dir(rtl){
    margin: 0 auto 0 5px;
}
#arrow:dir(ltr){
    margin: 0 5px 0 auto;
}

    body *{
    font-family: Inter, helvetica, sans-serif;
}
.class-list{
    padding:0;
    margin: 0;
    list-style: none;
}
.Class{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:flex;
    font-size: x-large;
    background-color: rgba(247, 247, 247, 1);
    border-top: 1px solid lightgray;
    padding:2px;
    flex-direction: column;
}
.class-name{
    display:inline;
    margin: 0;
    padding:5px
}
.class-list{
    display:flex;
    flex-direction: column;
}
.Class{
    display:flex;
    font-size: x-large;
    background-color: rgba(247, 247, 247, 1);
    border-top: 1px solid lightgray;
    padding:2px;
}
h1:dir(rtl), p:dir(rtl){
    text-align: right;
}
button:dir(rtl),.button-div:dir(rtl){
    margin-right:auto;

}

button:dir(ltr),.button-div:dir(ltr){

    margin-left:auto;
}

</style>
<h1>{% trans "Manage Classes" %}</h1>
{% if user.manage_schedule or user.is_superuser %}<button onclick="document.getElementById('CreateClassModal').style.display = 'block'" class="btn btn-success" >{% trans "Create New Class" %}</button>{% endif %}
    <div class="class-list">
    <div id="DescriptionModal" class="modal">

  <!-- Modal content -->
  <div style="width:fit-content" class="modal-content" >
    <span onclick="this.parentElement.parentElement.style.display = 'none';" class="close" >&times;</span>
    <form hx-post="{% url "editDescription" %}" id="DescriptionForm" hx-swap="none">
        {% csrf_token %}
        <div id="inner-form"></div>
        <button onclick="this.parentElement.parentElement.parentElement.style.display = 'none'" type="submit">{% trans "Edit Description" %}</button>
    </form>
  </div>
    </div>
 <div id="CreateClassModal" class="modal" >

  <!-- Modal content -->
  <div class="modal-content" style="margin-top: 1%;width: fit-content" >
    <span onclick="this.parentElement.parentElement.style.display = 'none';" class="close" >&times;</span>
    {{ classesByHour|json_script:"ClassesByHour" }}

    <div class="container">
    <form action="{% url "class_manager" %}" method="post">
        {% csrf_token %}
        {{ form.student_teacher }}<label>{{ form.student_teacher.label }}</label>
        <div class="two-fields">
            {{ form.name }}
            {{ form.teacher }}
            {{ form.student_teaching }}
        </div>
        <div class="two-fields">
                    {{ form.description }}
</div>
        <table>
    <tr>
        <th>09:15</th>
        <td><button disabled class="timeframe" type="button" id="Sunday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Monday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Tuesday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Wednesday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Thursday-09:15" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th>10:07</th>
        <td><button disabled class="timeframe" type="button" id="Sunday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Monday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Tuesday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Wednesday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Thursday-10:07" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th colspan="6">11:00</th>
    </tr>
    <tr>
        <th>11:45</th>
        <td><button disabled class="timeframe" type="button" id="Sunday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Monday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Tuesday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Wednesday-11:45" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th>12:45</th>
        <td><button disabled class="timeframe" type="button" id="Sunday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Monday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Tuesday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled class="timeframe" type="button" id="Wednesday-12:45" onClick="ButtonClick(this)"></button></td>
    </tr>
</table>

        <div class="two-fields">{{ form.day_of_week }}{{ form.hour }}</div>

        {{ form.room }}
        {{ form.first_grade }}
        {{ form.first_grade.label }}
        {{ form.second_grade }}
        {{ form.second_grade.label }}
        {{ form.third_grade }}
        {{ form.third_grade.label }}
        {{ form.fourth_grade }}
        {{ form.fourth_grade.label }}
        {{ form.fifth_grade }}
        {{ form.fifth_grade.label }}
        {{ form.sixth_grade }}
        {{ form.sixth_grade.label }}
        {{ form.seventh_grade }}
        {{ form.seventh_grade.label }}
        {{ form.eighth_grade }}
        {{ form.eighth_grade.label }}
        {{ form.ninth_grade }}
        {{ form.ninth_grade.label }}
        {{ form.tenth_grade }}
        {{ form.tenth_grade.label }}
        {{ form.eleventh_grade }}
        {{ form.eleventh_grade.label }}
        {{ form.twelfth_grade }}
        {{ form.twelfth_grade.label }}
        <input type="submit"  value="{% trans "Add Class" %}">
    </form>
{#    a script to act when the teacher field is changed and get hours where teacher cant teach#}
    <script type="text/javascript" src="{% static "setClasses.js" %}"></script>
        <style>
        .selected{
            background-color: rebeccapurple !important;
        }
        table {
            border-collapse: collapse;
            margin: 20px auto;
            background-color: #fff;
            border: 2px solid #dee2e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        th{
            border: 1px solid #dee2e6;
            padding: 10px 20px;
            text-align: center;
        }
        .timeframe{
            border: 1px solid #dee2e6;
            width: 100px;
            height: 40px;
            {#padding: 20px 50px;#}
            text-align: center;
            background-color: white;
        }
        th {
            background-color: #f2f2f2;
            color: #343a40;
        }
        td{
            padding: 0;
        }
    </style>

    </div>
  </div>
    </div>

        {# filter teacher    #}
      <input onkeyup="filterList()" type="text" id="text-filter" placeholder="{% trans "Search Classes" %}...">

    <ul class="class-list">
{% for class,values in classes.items %}
    <li>
    <div id="{{ values.1 }}" class="Class">

    <div   style="display:flex;flex-direction: row">

        <p class="class-name"> {{ class }} -  {{ values.0 }} {% trans "Students" %}</p>
        <p style="display: inline" hx-get="{% url 'get_student_list' values.1 %}" hx-target="next .details" id="arrow" ><i class="arrow down"></i></p>
        <button style="margin: 0" hx-on::after-request="document.getElementById('DescriptionModal').style.display = 'block'" hx-get="{% url "editDescription" %}" name="id" value="{{ values.1 }}" hx-target="#inner-form" class="btn btn-info">{% trans "Change Description" %}</button>
        </div>
                <div class="details"></div>

    </div>
</li>
    {% endfor %}
    </ul>
</div>
    <script>
    document.body.addEventListener("unfold",function(evt){
        let details = evt.target.parentElement.parentElement.parentElement.querySelector(".details");
        let arrow = evt.target.parentElement.querySelector("#arrow .arrow")

        if(details.style.maxHeight==="500px"){
            arrow.classList.remove("up")
            arrow.classList.add("down")
            details.style.maxHeight = "0"
        } else{
            arrow.classList.remove("down")
            arrow.classList.add("up")
            details.style.maxHeight="500px"
        }
    })

</script>
    <script>
function filterList() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('text-filter');
    filter = input.value.toUpperCase();
    ul = document.getElementsByClassName("class-list")[0];
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByClassName("Class")[0];
      txtValue = a.textContent || a.innerText;

      // split filter by spaces, gives ["app", "MN"] in your example
      let filters = filter.split(" ")

      // remove the empty filters (if your filter string
      // starts or ends by a space) since they are source of errors

      // Array.filter takes in parameter a function returning a boolean
      // it create a new array containing only element where
      // the function returned truthy value

      // here we return the length of the string which is falsy (== 0) for ""
      // and truthy for every other string (!= 0)
      filters = filters.filter(f => f.length)

      let shouldDisplay = true
      // test each filter and store true only if string contains all filter
      filters.forEach(filt => {
        shouldDisplay = shouldDisplay && txtValue.toUpperCase().includes(filt)
      })

      // update visibility
      // set visible if the string include all filters
      // or if there is no filter
      li[i].style.display = (shouldDisplay || filters.length === 0) ? "" : "none";
    }
  }
    </script>
    <script>

  function copyToClipboard(a) {
      a.style.display = "block"
      const textToCopy = a.querySelector("#link").innerText; // or .textContent if you want to copy raw text
      navigator.clipboard.writeText(textToCopy).then(function() {
      alert('Copied to clipboard!');
      a.style.display = "none"
      }, function(err) {
          console.error('Could not copy text: ', err);
      });
      }
</script>
{% endblock %}
