{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Danger Zone" %}{% endblock %}
{% block static %}    <link type="text/css" rel="stylesheet" href="{% static "styles/bootstrap.min.css"%}">
{% endblock %}
{% block content %}
    <h1 style="padding: 15px">{% trans "Danger Zone"%}</h1>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span onclick="this.parentElement.parentElement.style.display = 'none';" class="close">&times;</span>
    <form id="form" method="post">
        {% csrf_token %}
        <input value="" disabled style=" font-size: medium;text-align: center;width: 100%;border: none;background-color: transparent;" id="match">
        <input value="" type="hidden" name="action" id="action">
        <input id="input" value="" style="text-align: center" placeholder="{% trans "Repeat Value Above" %}" onkeyup="checkInput(this)" type="text">
        <input id="danger-button" disabled value="{% trans "Perform Action" %}" type="submit">
    </form>
  </div>

</div>
    <div class="danger-div">
    	<div class="danger-field"><label>{%trans "Delete All Schedules"%}</label><button onclick="showModal('delete-schedules','Delete Schedules')" class="btn btn-danger">
            {% trans "Delete All Schedules" %}</button></div>
        <div class="danger-field"><label> {% trans "Increase Grade For All Students"%}</label><button onclick="showModal('increase-grades','Increase Grades')" class="btn btn-danger">
            {% trans "Increase Grade For All Students" %}</button></div>
        <div class="danger-field"><label>{% trans "Delete All Tutor - Student Relations"%}</label><button onclick="showModal('delete-tutors','Delete Tutors')" class="btn btn-danger">
            {% trans "Delete All Tutor - Student Relations"%}</button></div>
        <div class="danger-field"><label>{% trans "Delete All Shachariot"%}</label><button class="btn btn-danger" onclick="showModal('delete-shachariot','Delete Shachariot')">
            {% trans "Delete All Shachariot" %}</button></div>
        <div class="danger-field"><label>{% trans "Delete All Classes"%}</label><button class="btn btn-danger" onclick="showModal('delete-classes','Delete Classes')">{% trans "Delete All Classes"%}</button></div>
    </div>
<script>
    const form = document.getElementById("form")
    const action_field = document.getElementById("action")
    const modal = document.getElementById("myModal")
    const match_field = document.getElementById("match")
    modal.style.display = "none";
    function showModal(action,match){
        document.getElementById('input').value = ''
        action_field.value = action;
        match_field.value =match
        modal.style.display = "block";
    }
    function checkInput(a){
        console.log(a.value)
        console.log(action_field)
        if(a.value === match_field.value){
            document.getElementById("danger-button").disabled = false
        }
        else{
            document.getElementById("danger-button").disabled = true
        }
    }

</script>




{% endblock %}