{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{% trans "en" %}" dir="{% trans "ltr" %}">
<head>
    <meta charset="UTF-8">
    <title>{{ day }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "timetable/styles/printable_timetable.css" %}">
</head>
<body>
<table>
    <tr >
        <th colspan="4"><h1>{{ day }}</h1></th>
    </tr>
    {% for h,cl in classes.items %}
        {% if h == "11:00" %}

        <tr><td id="break" class="hour-row" colspan="4"><h4>{{ h }}</h4></td></tr>
        {% else %}
        <tr><td class="hour-row" colspan="4"><h4>{{ h }}</h4></td></tr>
        {% endif %}
        {% for c in cl %}
        <tr>
            <td>{{ c.name }}</td>
            <td >{{ c.room }}</td>
            <td >{{ c.who_teaches }}</td>
            <td>{{ c.str_grades }}</td>

        </tr>
        {% endfor %}
    {% endfor %}
</table>

<script>
    window.print();
    window.close()
</script>
</body>
</html>