{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Import" %}{% endblock %}
{% block content %}
<div class="container">
    <h4>{% trans "Import Students From CSV" %}</h4>
    <p style="text-wrap: wrap">{%  trans "The CSV Should be Formatted as The Schools Contant Sheet, Beware That This Creates A Student For Each row, regardless of if a Student with this name exists" %} </p>
    <form method="post" enctype="multipart/form-data" action="{% url "import" %}">
    {% csrf_token %}
    {{ studentsForm }}
<input value="{% trans "import" %}" type="submit">
</form>
</div><div class="container">
    <h4>{% trans "Import Teachers From CSV" %}</h4>
    <p style="text-wrap: wrap">{%  trans "The CSV Should be Formatted as The Schools Contant Sheet, Beware That This Creates A Teacher For Each row, regardless of if a Teacher with this name exists" %} </p>
    <form method="post" enctype="multipart/form-data" action="{% url "import" %}">
    {% csrf_token %}
    {{ teacherForm }}
<input value="{% trans "import" %}" type="submit">
</form>
</div>
{% endblock %}