{% load i18n %}
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <title>Substitution</title>
</head>
<body>
<div class="topnav">
    <a href="{% url "login" %}">{% trans "Login" %}</a>
</div>
<div class="sub-container">
{% if Subs %}

        {% for sub in Subs %}
    {% if sub.substitute_teacher.username == null %}
            <div class="sub-details problem">
                    {% else %}
            <div class="sub-details">
                    {% endif %}
                    <h1>{{ sub.Class_That_Needs_Sub.name }} - {{ sub.Class_That_Needs_Sub.room }}</h1>
                    {% if sub.substitute_teacher.username == null %}
                    <h2 style="color: darkred">{% trans "No Sub Yet" %}</h2>
                    {% else %}
                    <h2 style="color:dimgray">{% trans "Substitute Teacher:" %}{{ sub.substitute_teacher.username }}</h2>
                    {% endif %}
                    <h3 style="color:darkolivegreen">{{ sub.Class_That_Needs_Sub.hour }}</h3>
                </div>
        {% endfor %}
    {% else %}
        <h1
                style="font-family: helvetica, arial, sans-serif;
                font-size: xxx-large;
                text-align: center;
                margin:auto;
        ">
            {%  trans "No Subs For today!" %}</h1>
    {% endif %}
</body>
</html>