{% extends "Base.html" %}
{% load i18n %}
{% load static %}
{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'schedule_manager.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block title %}{% trans "Manage Schedules" %}{% endblock %}
{% block content %}
    <h1>{% trans "Manage Schedules" %}</h1>
    <p id="stats">{% trans "Students With Schedules" %}: <span id="scheduleCount">{{ scheduleCount }}</span>; {% trans "Students Without" %}: <span id="noScheduleCount">{{ studentWithNoSchedule }}</span>; {% trans "Total Students" %}: <span id="totalStudents">{{ scheduleCount|add:studentWithNoSchedule }}</span>.</p>
    <div style="display: none" id="alert-box"><div id="alert" class="alert alert-success" role="alert">
  {% trans "invited "%}
  <button onclick="this.parentElement.style.display='none'" type="button" aria-label="Close"></button>
</div></div>
    <div class="student-list">
    <div style="margin-bottom: 5px" class="button-div">
        <button type="button" id="invite-all" name="invite-all" value="invite-all" hx-confirm="{% trans "Warning, this will send an email to every student with no Schedule" %}" hx-post="{% url "send_email" %}" class="btn btn-warning">{% trans "Invite all" %}</button>
        <button type="button" id="reset-all" name="reset-all" value="reset-all" hx-confirm="{% trans "WARNING!!! THIS WILL RESET *ALL* SCHEDULES (!!!) FOREVER, THIS ACTION IS IRREVERSIBLE ARE YOU SURE YOU WANT TO CONTINUE???" %}" hx-post="{% url "send_email"%}" class="btn btn-danger">{% trans "Reset ALL" %}</button>
    </div>
    {% csrf_token %}
{% for student,value in students.items %}
    {% if value.0 %}
    <div class="has_schedule student">
        {{ student }} - {% trans "Last Invite" %} : <p class="last-invite" id="last-invite"> {{ value.2 }}</p> <button name="{{ value.1 }}" value="True" hx-target="previous #last-invite" hx-post="{% url "send_email" %}" style="margin-top: 2px; margin-bottom: 2px" id="{{ value.1 }}" class="btn btn-sm btn-danger"  >{% trans "Reset Schedule" %}</button>
    </div>
    {% else %}
        <div class="no_schedule student">{{ student }} - {% trans "Last Invite" %} : <p class="last-invite" id="last-invite">{{ value.2 }}</p><button name="{{ value.1 }}" hx-target="previous #last-invite" value="False" hx-post="{% url "send_email" %}" style="margin-top: 2px; margin-bottom: 2px" name="False" id="{{ value.1 }}" class="btn btn-primary btn-sm">{% trans "Send Invite" %}</button></div>
    {% endif %}
    {% endfor %}
    </div>
    <script>
        const alert = document.getElementById("alert")
        document.body.addEventListener("alert",function(evt){

            alert.style.display = "block"
    })</script>
{% endblock %}