{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <form>
        {{ form }}
        <input type="submit">
    </form>
    </div>
    <script>
        const ClassSelect = document.getElementById('hour');
        const TeacherSelect = document.getElementById('room');


        function changeOptions(event){
        const selectedClass = ClassSelect.value;
        const url = `{% url "possible_room" %}/?hour=${}`;
        console.log(selectedClass)
        fetch(url)
        .then(response => response.json())
        .then(data => {
        TeacherSelect.innerHTML = '';
        console.log(data)
        data.availableTeachers.forEach((branch) => {
        const option = document.createElement('option');
        option.value = branch.id;
        option.text = branch.name;
        TeacherSelect.appendChild(option);

        })});
        }
        changeOptions()
        ClassSelect.addEventListener('change', (event) => changeOptions(event))
    </script>
{% endblock %}