{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Set Classes" %}{% endblock %}
{% block content %}
{{ classesByHour|json_script:"ClassesByHour" }}

    <div class="container">
    <form action="{% url "setClasses" %}" method="post">
        {% csrf_token %}
        {{ form.student_teacher }}{{ form.student_teacher.label }}
        <div class="two-fields">
            {{ form.name }}
            {{ form.teacher }}
            {{ form.student_teaching }}
        </div>
        <table>
    <tr>
        <th>08:30</th>
        <td><button disabled type="button" id="Sunday-08:30" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Monday-08:30" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Tuesday-08:30" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Wednesday-08:30" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Thursday-08:30" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th>09:15</th>
        <td><button disabled type="button" id="Sunday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Monday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Tuesday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Wednesday-09:15" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Thursday-09:15" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th>10:07</th>
        <td><button disabled type="button" id="Sunday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Monday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Tuesday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Wednesday-10:07" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Thursday-10:07" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th colspan="6">11:00</th>
    </tr>
    <tr>
        <th>11:45</th>
        <td><button disabled type="button" id="Sunday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Monday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Tuesday-11:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Wednesday-11:45" onClick="ButtonClick(this)"></button></td>
    </tr>
    <tr>
        <th>12:45</th>
        <td><button disabled type="button" id="Sunday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Monday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Tuesday-12:45" onClick="ButtonClick(this)"></button></td>
        <td><button disabled type="button" id="Wednesday-12:45" onClick="ButtonClick(this)"></button></td>
    </tr>
</table>

        <div class="two-fields">{{ form.day_of_week }}{{ form.hour }}</div>

        {{ form.room }}
        {{ form.first_grade }}
        {{ form.first_grade.label }}
        {{ form.second_grade }}
        {{ form.second_grade.label }}
        {{ form.third_grade }}
        {{ form.third_grade.label }}
        {{ form.fourth_grade }}
        {{ form.fourth_grade.label }}
        {{ form.fifth_grade }}
        {{ form.fifth_grade.label }}
        {{ form.sixth_grade }}
        {{ form.sixth_grade.label }}
        {{ form.seventh_grade }}
        {{ form.seventh_grade.label }}
        {{ form.eighth_grade }}
        {{ form.eighth_grade.label }}
        {{ form.ninth_grade }}
        {{ form.ninth_grade.label }}
        {{ form.tenth_grade }}
        {{ form.tenth_grade.label }}
        {{ form.eleventh_grade }}
        {{ form.eleventh_grade.label }}
        {{ form.twelfth_grade }}
        {{ form.twelfth_grade.label }}
        <input type="submit"  value="{% trans "Add Class" %}">
    </form>
{#    a script to act when the teacher field is changed and get hours where teacher cant teach#}
    <script type="text/javascript" src="{% static "setClasses.js" %}"></script>
        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #343a40;
        }
        .selected{
            background-color: rebeccapurple !important;
        }
        table {
            border-collapse: collapse;
            margin: 20px auto;
            background-color: #fff;
            border: 2px solid #dee2e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        th{
            border: 1px solid #dee2e6;
            padding: 10px 20px;
            text-align: center;
        }
        button{
            border: 1px solid #dee2e6;
            width: 100px;
            height: 40px;
            {#padding: 20px 50px;#}
            text-align: center;
            background-color: white;
        }
        th {
            background-color: #f2f2f2;
            color: #343a40;
        }
        td{
            padding: 0;
        }
    </style>

    </div>
{% endblock %}