{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Set Substitution" %}{% endblock %}
{% block content %}
<div class="container">
{% if ClassesThatNeedSub > 0 %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">{{ field }}</div>
        {% endfor %}
        <input type="submit" value="{% trans "change" %}">
    </form>
{% else %}
<h1>{% trans "No Classes To Sub" %}</h1>
{% endif %}
</div>
    <script type="text/javascript" src="{% static 'timetable/setSub.js' %}"></script>
{% endblock %}

