{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{%  static 'student_manager.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}
{% block title %}{% trans "Manage Teacher" %}{% endblock %}
{% block content %}
<h1>{% trans "Manage Teacher" %}</h1>



    <div class="student-list">
{# show invite all and reset all buttons if user is super user   #}

    {% csrf_token %}

        {# filter teacher    #}
      <input onkeyup="filterList()" type="text" id="text-filter" placeholder="{% trans "Search Teacher" %}">

    <ul class="teacher-list">
{% for teacher,form in teachers.items %}
    <li>
    <div  class="teacher">
    <div   style="display:flex;flex-direction: row">
        <p class="teacher-name"> {{ teacher }}</p>
        <form hx-swap="innerHTML" hx-post="{% url "teacher_manager" %}" class="button-div">
            {{ form }}
            <input type="submit">
        </form>
        </div>
        <div class="details"></div>
    </div>
</li>
    {% endfor %}
    </ul>
</div>

    <script>
function filterList() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('text-filter');
    filter = input.value.toUpperCase();
    ul = document.getElementsByClassName("student-list")[0];
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByClassName("student")[0];
      txtValue = a.textContent || a.innerText;

      // split filter by spaces, gives ["app", "MN"] in your example
      let filters = filter.split(" ")

      // remove the empty filters (if your filter string
      // starts or ends by a space) since they are source of errors

      // Array.filter takes in parameter a function returning a boolean
      // it create a new array containing only element where
      // the function returned truthy value

      // here we return the length of the string which is falsy (== 0) for ""
      // and truthy for every other string (!= 0)
      filters = filters.filter(f => f.length)

      let shouldDisplay = true
      // test each filter and store true only if string contains all filter
      filters.forEach(filt => {
        shouldDisplay = shouldDisplay && txtValue.toUpperCase().includes(filt)
      })

      // update visibility
      // set visible if the string include all filters
      // or if there is no filter
      li[i].style.display = (shouldDisplay || filters.length === 0) ? "" : "none";
    }
  }
    </script>
{% endblock %}
