{% extends 'publicBase.html' %}
{% load static %}
{% load i18n %}

{% block static %}    <link rel="stylesheet" type="text/css" href="{% static 'timetable.css' %}">{% endblock %}
{% block title %}{% trans "Schedule" %}{% endblock %}
{% block content %}
    {{ classesByHour|json_script:"ClassesByHour" }}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-content" class="modal-content">
    <span class="close">&times;</span>
    <h1 id="name-and-grades"></h1>
      <h2 id="teacher"></h2>
      <h3 id="room"></h3>
      <h4 id="hour"></h4>

  </div>

</div>
    <div class="filtering">
        <div class="class-filter">
            <label for="first-grade">{% trans "first grade" %}</label><input value="1" id="first-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="second-grade">{% trans "second grade" %}</label><input value="2" id="second-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="third-grade">{% trans "third grade" %}</label><input value="3" id="third-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="fourth-grade">{% trans "fourth grade" %}</label><input value="4" id="fourth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="fifth-grade">{% trans "fifth grade" %}</label><input value="5" id="fifth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="sixth-grade">{% trans "sixth grade" %}</label><input value="6" id="sixth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="seventh-grade">{% trans "seventh grade" %}</label><input value="7" id="seventh-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="eighth-grade">{% trans "eighth grade" %}</label><input value="8" id="eighth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="ninth-grade">{% trans "ninth grade" %}</label><input value="9" id="ninth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="tenth-grade">{% trans "tenth grade" %}</label><input value="10" id="tenth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="eleventh-grade">{% trans "eleventh grade" %}</label><input value="11" id="eleventh-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">
            <label for="twelfth-grade">{% trans "twelfth grade" %}</label><input value="12" id="twelfth-grade" type="checkbox" class="grades-checkboxes" onClick="filterGrades()">

            
        </div>
        <select onchange="filterTeachers()" id="teacher-select">
            <option disabled selected value> ---- </option>
            {% for teacher in teachers  %}
            <option id="{{ teacher }}">{{ teacher }}</option>
            {% endfor %}
        </select>
    
    </div>
    <div class="table-container">
<table>
    <tr id="day-row">
        <th id="empty"></th>
        <th class="day">{% trans "Sunday" %}</th>
        <th class="day">{% trans "Monday" %}</th>
        <th class="day">{% trans "Tuesday" %}</th>
        <th class="day">{% trans "Wednesday" %}</th>
        <th class="day">{% trans "Thursday" %}</th>
    </tr>
    <tr class="timerow">

        <th>08:30</th>
        <td><div class=timeframe  id="Sunday-08:30" ></div></td>
        <td><div class=timeframe  id="Monday-08:30" ></div></td>
        <td><div class=timeframe  id="Tuesday-08:30" ></div></td>
        <td><div class=timeframe  id="Wednesday-08:30" ></div></td>
        <td><div class=timeframe  id="Thursday-08:30" ></div></td>
    </tr>
    <tr class="timerow">
        <th>09:15</th>
        <td><div class=timeframe  id="Sunday-09:15" ></div></td>
        <td><div class=timeframe  id="Monday-09:15" ></div></td>
        <td><div class=timeframe  id="Tuesday-09:15" ></div></td>
        <td><div class=timeframe  id="Wednesday-09:15" ></div></td>
        <td><div class=timeframe  id="Thursday-09:15" ></div></td>
    </tr>
    <tr class="timerow">
        <th>10:07</th>
        <td><div class=timeframe  id="Sunday-10:07" ></div></td>
        <td><div class=timeframe  id="Monday-10:07" ></div></td>
        <td><div class=timeframe  id="Tuesday-10:07" ></div></td>
        <td><div class=timeframe  id="Wednesday-10:07" ></div></td>
        <td><div class=timeframe  id="Thursday-10:07" ></div></td>
    </tr>
    <tr>
        <th colspan="6">11:00</th>
    </tr>
    <tr class="timerow">
        <th>11:45</th>
        <td><div class=timeframe  id="Sunday-11:45" ></div></td>
        <td><div class=timeframe  id="Monday-11:45" ></div></td>
        <td><div class=timeframe  id="Tuesday-11:45" ></div></td>
        <td><div class=timeframe  id="Wednesday-11:45" ></div></td>
    </tr>
    <tr class="timerow">
        <th>12:45</th>
        <td><div class=timeframe  id="Sunday-12:45" ></div></td>
        <td><div class=timeframe  id="Monday-12:45" ></div></td>
        <td><div class=timeframe  id="Tuesday-12:45" ></div></td>
        <td><div class=timeframe  id="Wednesday-12:45" ></div></td>
    </tr>
    

</table>
        </div>
<script type="text/javascript" src="{% static 'timetable.js' %}"></script>
<script type="text/javascript" src="{% static 'filters.js' %}"></script>
{% endblock %}