/* The side navigation menu */
.sidebar {
  box-sizing: unset !important;
  padding:15px 5px 15px 5px;
  gap: 5px;
  width: 60px;
  background-color: #D8EFD3;
  position: fixed;
  height: 97%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#logout{
    display: block !important;
  width:60px;
  border-radius: 15px;
  height: 60px;
  font-family: helvetica, arial, sans-serif !important;
  margin-top: auto;
  background-color: #95D2B3;
}
/* Sidebar links */
.sidebar a {
  display: block !important;
  color: black ;
  width:60px;
  background:#bfe6b7;
  border-radius: 15px;
  height: 60px;
  text-decoration: none !important;
  font-family: helvetica, arial, sans-serif !important;
  line-height: 1 !important;
}

/* Active/current link */
.sidebar a.active {
  background-color: #a5dd98;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active),#logout:hover:not(.active) {
  background-color: #91d57f;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 70px;
  height: 100%;
  overflow: auto;
}
.content:dir(rtl){
  margin-left: 0;
  margin-right: 70px;
  height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
  }
  .sidebar a {
    flex-shrink: 1;
    float: left;
    padding:8px;
    width: 25%;
  }
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }}
