body:dir(rtl){
    text-align: start;
}
.datepicker{
    background-color: #fcfdf8;
    padding: 8px 20px 8px 0;
    border: #D8EFD3 solid 1px;
    border-radius: 3px;
    display: inline-block;
}
select{
    background-color: #fcfdf8;
    padding: 8px 20px 8px 0;
    border: #D8EFD3 solid 1px;
    border-radius: 3px;

}
.alert{
    border: cornflowerblue solid 1px;
    border-radius: 3px;
    font-family: helvetica, arial, sans-serif;
    padding: 5px;
    margin:5px auto;
    width: 50%;
    background-color: #90b2f1;
}
.field{
    font-family: helvetica, arial, sans-serif;
    padding: 10px;
}

.container{
    padding: 5px;
    font-family: helvetica, arial, sans-serif;
    display:block;
    margin:auto;
    border:#55AD9B solid 3px;
    width:fit-content;
    background-color: #F1F8E8;
}
input[type=submit],button[type="submit"]{
    color: #305a54;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    background-color: #95D2B3;
    padding: 4px 10px;
    border: #366e63 solid 1px;
    margin-left: auto;
    margin-right: 3px;
    display: block;
    border-radius: 2px;
}
input[type=submit]:dir(rtl){
    margin-left: 3px;
    margin-right: auto;
}
input[type=submit]:hover,button[type="submit"]:hover{
    background-color: #55AD9B;
}

input[type=text],input[type=password]{
    width: 100%;
    padding: 3px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
body,html{
    background-color: #fdfefb ;
    width:100%;
    height: 100%;
    margin:0;
}

.sub-row{
    font-size: small;
    display:grid;
    grid-template-columns: 10% 90%;
    gap: 3%;
    font-family: Inter,helvetica,sans-serif;

}
.sub-details{
    font-size: small;
    /*justify-self: end;*/
    flex-grow: 1;
    margin-top: 10px;
    font-family: Inter,helvetica,sans-serif;
    background-color: #F1F8E8;
    padding: 5px 50px;
    border: #D8EFD3 5px solid;
    border-radius: 19.9px;
}
.two-fields{
    gap: 5px;
    display: flex;
}
.subject-input{
    padding:8px 20px 8px 0 !important;
    flex-grow: 1;
    width: unset !important;
    margin: unset !important;
    box-sizing: unset !important;
}
button[disabled]{
    background-color: lightgrey;
}
#room{
    width: 100%;
    margin-bottom: 5px;
}
.topnav a.active {
  background-color: #366e63;
  color: white !important;
}
@media screen and (max-width: 700px) {
  .content{
      margin-right:0 !important;
  }
    .sub-row{
        font-size: x-small;
        grid-template-columns: 20% 80%;
    }
    .sub-row h1{
        flex-grow: 1;
    }
    .sub-details{
        flex-shrink: 1;
        padding: 0 15px;
    }
    #setClasses{
        display: none;
    }
}
a:dir(rtl){
    text-align:right ;
}

textarea{
    margin-top: 5px;
    resize: none;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    border: #272727 solid 1px;
    border-radius: 3px;
    height: 100px;
    box-sizing: border-box;
}
i{
    color: rgba(73, 69, 79, 0.6);
}
#lang-select{
    padding: 0;
    border:none;
    bottom:10px;
    left: 5px;
    position: absolute;
    width:60px;
    background:#ead3ef;
    border-radius: 15px;
    height: 60px;
}
#lang-select:hover{
    background: #dfb5e7;
}
#lang-select:dir(ltr){
    right: 5px;
}
.danger-div{

    /*flex-wrap: wrap;*/
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 15px;
}
.danger-button{
    width: 15vw;
    border: 2px solid #D3D8EF;
    background-color: #EFD3D8;
    padding: 25px;
}
.danger-button:hover{
    background-color: #eaa8b4;
}
.content *{
    font-family:Inter,helvetica,sans-serif;
}
.danger-field{
    display: flex;
    justify-content: space-between;

}
.danger-field h2{
    color: darkred;
    line-height: 3vw;
    vertical-align: center;
    margin: 0;
    font-weight: lighter;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin:15% auto;
    padding: 5px;
    font-family: helvetica, arial, sans-serif;
    display: block;
    border: #55AD9B solid 3px;
    background-color: #F1F8E8;
    width: 15%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#danger-button:disabled{
    background-color: #390101;
    border: none;
}
#danger-button{
    background-color: darkred;
    border: 2px solid darkred;
    color: white;
}
td,tr{
    line-height: 1 !important;
}
@media screen and (max-width: 800px) {

}