.mother-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: stretch;
    height: 96%;
    padding: 1%;
}
.subs-container,.absence-container{
    background: #eff9ed;
    flex-grow:1 ;
    border-radius: 25px;
}
h1{
    color: #002f1a;
    margin:15px;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.substitution h2,.hour,.date,.absence h2{
    color: #002f1a;
    margin:0;
}
.date{
    font-size:x-small;
    font-weight: bolder;
}
.hour{
    font-size: small;
    font-weight: lighter;
}
.substitution,.absence{
    height: 6vh;
    padding: 5px;
    background: #d8efd3;
}
.absence{
    display: flex;
}
html *{
    font-family: Inter, helvetica, sans-serif;

}
#add-button{
    margin: auto;
    border:none;
    width:60px;
    background:#bfe6b7;
    border-radius: 15px;
    height: 60px;
    text-decoration: none !important;
    font-family: helvetica, arial, sans-serif !important;
}
#add-button:hover{
      background-color: #91d57f;
}
#add-button-container{
    padding: 5px;
    display: flex;
    align-items: center;
}



.absence button:dir(ltr){
    margin-left: auto !important;
}
.absence button:dir(rtl){
    margin-right: auto !important;
}
