{% extends 'dashboard_base.html' %}
{% load i18n %}
{% block static %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock %}
{% block content %}
    <div class="stats-container">
        <div class="stat">
            <h2>{% trans "Total Number Of Problems Resolved:" %}</h2>
            <h3>{{ problems_resolved }}</h3>
        </div>
        <div class="stat">
            <h2>{% trans "Total Number Of Problems:" %}</h2>
            <h3>{{ total_problems }}</h3>
        </div>
        <div class="stat">
            <h2>{% trans "Best Fixer:" %}</h2>
            <h3>{{ fixed_the_most }}</h3>
        </div>
    </div>
    <div class="graph-container">
        <canvas style="width:50px;height: 50px" id="myChart"></canvas>
        <canvas  style="width: 50px;height: 50px" id="myChart2"></canvas>
    </div>

<script>
    var isRightToLeft
    if(document.dir === "rtl")
        {isRightToLeft = true}
    const problems_by_teacher = JSON.parse('{{ problems_by_teacher|safe }}');
    const ctx = document.getElementById('myChart');
    console.log(problems_by_teacher)
    const PinsPerMonthChart = document.getElementById('myChart2');
    var resolved = []
    var not_resolved = []
    for(let i = 0;i<Object.values(problems_by_teacher).length;i++){
      resolved.push(Object.values(Object.values(problems_by_teacher)[i])[0])
      not_resolved.push(Object.values(Object.values(problems_by_teacher)[i])[1])
    }

    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: Object.keys(problems_by_teacher),
      datasets: [{
        label: '# {% trans "Of Problems Resolved" %}',
        data: resolved,
        borderWidth: 1
      },
      {
        label: '# {% trans "Of Pins Not Resolved" %}',
        data: not_resolved,
        borderWidth: 1
      }
      ]
    },
    options: {
      responsive:true,
      rtl:true,
      scales: {
        x: {
            reverse: isRightToLeft ? true : false,
            stacked:true,
        },
        y: {
            stacked:true,
            beginAtZero: true,
            position: isRightToLeft ? 'right' : 'left',

        }
      }
    }
    });
    new Chart(PinsPerMonthChart, {
    type: 'line',
    data: {
      labels: ['{% trans "September" %}', '{% trans "October" %}','{% trans "November" %}','{% trans "December"%}','{% trans "January" %}', '{% trans "February" %}','{% trans "March" %}', '{% trans "April" %}','{% trans "May" %}', '{% trans "June" %}'],
      datasets: [
          {% for year,data in problems_by_month.items %}
          {
        label: '{{ year }}',
        data: {{ data }},
        tension: 0.1
      },
          {% endfor %}
      ]
    },
    options: {
      rtl:true,
      scales: {
        x: {
          reverse: isRightToLeft ? true : false,
        },
        y: {
          beginAtZero: true,
          position: isRightToLeft ? 'right' : 'left',
        }
      }
    }
    });

</script>




{% endblock %}
