{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<link rel="stylesheet" href="{% static "dashboard/styles/dashboard_style.css"%}">
</head>
<body>
  <header>
    <h1 id="message"></h1>

  </header>
<div id="container">
  <h1 id="loading">loading data...</h1>
</div>
<script>
  //get problems
  function fetchdata(){
  $.ajax({
   url: '/dashboard/data',
   type: 'get',
   success: function(response){
    document.getElementById("container").innerHTML = "<h1 id='loading'>No Data</h1>"
    if (response != undefined){
      document.getElementById("container").innerHTML = ""

    }
    // Perform operation on the return value
    for(const property in response){
    console.log(response)
    room = property
    var problemsList = ""
    if (response[room]['problems'][0]){
      
      var img = `<img src="{% static "dashboard/xMark.png" %}" alt="problem" width="150" height="100">`
      for(let i=0;i<response[room]['problems'].length;i++){
        problemsList += `<div class="problem"><p>${response[room]['problems'][i]}</p></div>`

      }
    } else {
      var img = `<img src="{% static "dashboard/checkmark.png" %}" alt="aok" width="150" height="100">`
      problemsList = `<div class="ok"><p>אין בעיות</p></div>`
    }
    document.getElementById("container").innerHTML +=
    `<div class="gallery">
      <div class="img-container">${img}</div>
      <div class="desc">
        <h2>${room}</h2>
        
        <div class="problems">${problemsList}</div>
        <p>${response[room]["isFree"]}</p>

      </div>
    </div>`
  }
   }
  });
 }
 
 $(document).ready(function(){
  fetchdata()
  setInterval(fetchdata,900000);
  
 });
</script>
</body>
</html>


